<div class='w-3/4 m-auto'>
  <app-search-bar (returnMovieId)="navigateToMovieInfo($event)"></app-search-bar>
  <div class="pt-8 mb-8">

    <app-pagination [selectedPage]="selectedPage" [totalPages]="movieList.total_pages"
                    (pageMovementDirection)=moveToPage($event)></app-pagination>
    <app-movie-list (returnMovieId)="navigateToMovieInfo($event)" [moviesData]="movieList"></app-movie-list>
    <app-pagination [selectedPage]="selectedPage" [totalPages]="movieList.total_pages"
                    (pageMovementDirection)=moveToPage($event)></app-pagination>
  </div>

</div>
