<div class="button-container">
  <button (click)="moveToPage('back')" [disabled]="isBtnDisabled('back')" class="button-style">
    prev
  </button>
  <button (click)="moveToPage('forward')" [disabled]="isBtnDisabled('forward')" class="button-style">
    next
  </button>
</div>
