.movie-container {
  @apply flex flex-col w-full border border-gray-100 hover:drop-shadow-lg bg-white cursor-pointer;
}

.movie-image {
  @apply w-full h-44 bg-gray-700 object-cover;
}

.movie-badge-rating {
  @apply relative justify-end flex gap-4 -top-1 -mt-8 px-4;
}

.movie-adult-badge {
}

.movie-imdb-rating {
}

.movie-details {
  @apply flex flex-col p-4 w-full gap-2 text-gray-700;
}

.movie-title {
  @apply line-clamp-1 text-clip font-semibold;
}

.movie-overview {
  @apply line-clamp-4 h-24 text-clip;
}
