<div class="movie-container">
  <img class="movie-image" [attr.src]="environmentApi.BASE_IMAGE_URL + movieData.backdrop_path" alt="">
  <div class="movie-badge-rating">
    <app-is-movie-adult-badge [isAdult]="movieData.adult"></app-is-movie-adult-badge>
    <app-imdb-rating [voteAverage]="movieData.vote_average" [backGroundDark]="true"></app-imdb-rating>
  </div>
  <div class="movie-details">
    <h3 class="movie-title">{{movieData.title}}</h3>
    <span class="movie-overview">{{movieData.overview}}</span>
  </div>
</div>
