<div class="px-1.5 py-1 text-white rounded-full text-xs w-18 flex justify-end">
  <span [ngClass]="{'text-black' : !backGroundDark, 'text-white': backGroundDark}">{{voteAverage}}</span><span
  class="text-yellow-500 font-bold">&nbsp;IMDB </span>
</div>
