<div class="movie-container">
  <div class="movie-grid">
    <app-movie *ngFor="let movieData of moviesData.results" [movieData]="movieData"
               (click)="navigateToMovieInfo(movieData.id)"></app-movie>
  </div>
</div>

