<div *ngIf="movieInfo" class="movie-container">
  <img class="movie-bg-image" [attr.src]="environmentApi.BASE_IMAGE_URL_BG + movieInfo.backdrop_path" alt="">
  <div class="movie-overlay"></div>
  <div class="movie-details">
    <img class="movie-poster" [attr.src]="environmentApi.BASE_IMAGE_URL + movieInfo.poster_path" alt="">
    <div class="movie-info">
      <h1 class="movie-title">{{movieInfo.title}}</h1>
      <div class="movie-details-row">
        <app-is-movie-adult-badge [isAdult]="movieInfo.adult"></app-is-movie-adult-badge>&nbsp;
        <span>({{movieInfo.release_date}})</span>
        <span class="uppercase">&nbsp; - {{movieInfo.original_language}} -&nbsp;</span>
        <span
          *ngFor="let genre of movieInfo.genres; index as i">{{genre.name}}{{i !== movieInfo.genres.length - 1 ? ',' : ''}}&nbsp;</span>
        <span>&nbsp;- {{movieInfo.runtime | movieDurationFormat}}</span>
        <span>&nbsp;- Budget: {{movieInfo.budget}}$</span>
      </div>
      <span *ngIf="movieInfo.tagline" class="movie-tagline">{{movieInfo.tagline}}</span>
      <div class="movie-overview">
        <h2 class="font-semibold text-xl">Overview</h2>
        <span class="movie-overview-text">{{movieInfo.overview}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="movieRecommendations?.results" class="movie-under-banner">
    <div class="flex flex-row justify-between">
      <h2 class="font-semibold text-xl">Similar movies</h2>
      <app-pagination [selectedPage]="selectedPage" [totalPages]="movieRecommendations.total_pages"
                      (pageMovementDirection)=moveToPage($event)></app-pagination>
    </div>
    <app-movie-list (returnMovieId)="navigateToMovieInfo($event, this.selectedPage)"
                    [moviesData]="movieRecommendations"></app-movie-list>
    <app-pagination *ngIf="movieRecommendations.results.length > 4" [selectedPage]="selectedPage" [totalPages]="movieRecommendations.total_pages"
                    (pageMovementDirection)=moveToPage($event)></app-pagination>
  </div>
</div>
