.movie-container {
  @apply relative;
}

.movie-bg-image {
  @apply w-full bg-black h-96 object-cover absolute -z-20;
}

.movie-overlay {
  @apply w-full h-96 object-cover absolute -z-10 bg-black opacity-50;
}

.movie-details {
  @apply w-3/4 m-auto h-96 py-8 flex gap-16 text-white;
}

.movie-poster {
  @apply h-full w-1/4 shadow-2xl object-cover;
}

.movie-info {
  @apply h-full w-3/4 flex flex-col;
}

.movie-title {
  @apply text-3xl font-bold flex flex-row line-clamp-1 text-clip;
}

.movie-details-row {
  @apply mt-2 flex flex-row;
}

.movie-tagline {
  @apply mt-8 italic opacity-70;
}

.movie-overview {
  @apply flex flex-col mt-4;
}

.movie-overview-text {
  @apply line-clamp-6 text-clip overflow-scroll;
}

.movie-under-banner {
  @apply h-full w-3/4 mx-auto pt-16 text-black;
}
