<div class="main-container">
  <div class="form-container">
    <form [formGroup]="searchForm" class="form-group">
      <input
        formControlName="searchBar"
        (keyup.enter)="searchMovies()"
        placeholder="Search movies..."
        class="form-input"
      />
      <button (click)="searchMovies()" class="form-button">Search</button>
    </form>
  </div>
  <div *ngIf="dropdownMovieList.length > 0" class="dropdown-container">
    <ul class="dropdown-list">
      <li *ngFor="let movie of dropdownMovieList" class="dropdown-item" (click)="navigateToMovieInfo(movie.id)">
        <span>{{ movie.title }}</span>
        <div class="flex flex-row gap-2">
          <app-is-movie-adult-badge [isAdult]="movie.adult"></app-is-movie-adult-badge>
          <app-imdb-rating [voteAverage]="movie.vote_average"></app-imdb-rating>
        </div>
      </li>
    </ul>
  </div>
</div>
