.main-container {
  @apply flex mt-8 m-auto flex-col relative w-full;
}

.form-container {
  @apply flex flex-row items-center justify-center w-full;
}

.form-group{
  @apply flex flex-row w-full
}
.form-input {
  @apply w-full p-2 border border-gray-300 shadow-sm focus:outline-none focus:border-blue-500;
}

.form-button {
  @apply ml-2 px-4 py-2 bg-black text-white hover:bg-blue-600 focus:outline-none focus:bg-blue-600;
}

.dropdown-container {
  @apply mt-12 absolute w-full z-10;
}

.dropdown-list {
  @apply w-full mx-auto border border-gray-300 shadow-md max-h-96 overflow-scroll;
}

.dropdown-item {
  @apply cursor-pointer bg-white hover:bg-gray-100 p-2 flex flex-row justify-between;
}
